# Activar solo una URL según el servidor donde se publicará

# Servidor de pruebas
VITE_API_BASE_URL=http://IP_SERVIDOR_PRUEBAS:PUERTO

# Servidor de producción
# VITE_API_BASE_URL=http://IP_SERVIDOR_PRODUCCION:PUERTO

VITE_USE_MOCKS=false
VITE_USE_CLIENTES_MOCK=true
VITE_USE_DOCUMENTOS_MOCK=true